/.classpath
/.project
/.settings/
*/.idea/*
.idea/
*.class

*.iml

__pycache__/*

imagej/src/main/resources/windows/*
imagej/src/main/resources/nix/*
imagej/src/main/resources/mac/*
imagej/target/*

rust_jni/Cargo.lock
rust_jni/target/*

rust_ffi/Cargo.lock
rust_ffi/target/*

assessment_artifacts/*
frc_artifacts/*
hawkman_and_squirrel_artifacts/*
renderer_artifacts/*
splitter_artifacts/*
jhawk/artifacts/*
