/.classpath
/.project
/.settings/
*/.idea/*
.idea/
*.class

*.iml

imagej/src/main/resources/windows/*
imagej/src/main/resources/nix/*
imagej/src/main/resources/mac/*
imagej/target/*

imagej/rust_ffi/Cargo.lock
imagej/rust_ffi/target/*
