# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>TERRAPINS, "Workflow", com.coxphysics.terrapins.plugins.assessment.workflow.Plugin
Plugins>TERRAPINS, "Results Viewer", com.coxphysics.terrapins.plugins.assessment.results.Plugin
Plugins>TERRAPINS, "Assessment (Localisation Data)", com.coxphysics.terrapins.plugins.assessment.localisations.AssessmentPlugin
Plugins>TERRAPINS, "Assessment (Images)", com.coxphysics.terrapins.plugins.assessment.images.ImagesPlugin
Plugins>TERRAPINS, "HAWK This Stream", com.coxphysics.terrapins.models.hawk.PStreamFilter
Plugins>TERRAPINS, "Extract MetaData", com.coxphysics.terrapins.models.hawk.MetaDataExtract
Plugins>TERRAPINS, "HAWKMAN", com.coxphysics.terrapins.plugins.hawkman.HAWKMANPlugin
Plugins>TERRAPINS, "FRC", com.coxphysics.terrapins.plugins.frc.FrcPlugin
Plugins>TERRAPINS, "Error map", com.coxphysics.terrapins.plugins.squirrel.SquirrelPlugin
Plugins>TERRAPINS, "Render", com.coxphysics.terrapins.plugins.renderer.RendererPlugin
Plugins>TERRAPINS, "Split Localisations", com.coxphysics.terrapins.plugins.splitter.SplitterPlugin